<h1>Create New</h1>
<h2> ListItem</h2>
<form action="/ListItem/CreateNew" method="post">

    <div class="form-group">
        <label for="exampleInputEmail1">Title:</label>
        <input type="text" class="form-control" id="title"  name="title">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Description:</label>
        <input type="text" class="form-control" id="description" name="description">
    </div>

    <div class="form-group">
        <label for="datetime">Deadline:</label>
        <input type="datetime-local" class="form-control" id="Deadline" name="Deadline" >
    </div>



    <button type="submit" class="btn btn-primary">
        Create
    </button>
</form>