@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <p>Start origanzing your tasks and stay productive!</p>
    <p>Get started by creating your first to-do item.</p>
    <a href="/ListItem/Create" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Create New To-Do Item</a>
</div>
